MUSTANG_PATH="MUSTANG_v3.2.3"
FTP_SERVER_HOST_DOMAIN_BOUNDARIES="orengoftp.biochem.ucl.ac.uk"
FTP_SERVER_PORT_DOMAIN_BOUNDARIES=21
FTP_SERVER_PATH_DOMAIN_BOUNDARIES="cath/releases/all-releases/v4_1_0/cath-classification-data"
FTP_SERVER_FILENAME_DOMAIN_BOUNDARIES="cath-domain-boundaries-v4_1_0.txt"
RCSB_SERVER_DOWNLOAD_ROOT="https://files.rcsb.org/download/"